name: DEVOPS - Database Migration with Liquibase

on push:
  branches:
    - main

jobs: 
  build:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:latest
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: admin
          POSTGRES_DB: minha_base
        options: >-
          --health-cmd="pg_isready -U postgres"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5
    
    steps:
      - name: Code Download
        uses: actions/checkout@4

      - name: Setting Java 21
        uses: actions/setup-java@4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Setting cache
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-m2-
      
      - name: Build and Run Liquibase
        run: mvn -B clean compile liquibase:update